
nav {
    background-color: #333;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
}

.menu li a:hover {
    background-color: #0056b3; 
    color: #ffc107;
} 

@media (max-width: 600px) {
    .menu {
        flex-direction: column; 
        align-items: stretch;
    }

    .menu li {
        text-align: center;
        border-bottom: 1px solid #444;
    }
    
    .menu li:last-child {
        border-bottom: none;
  }
}
@media (min-width: 1600px) {
    
    #container {
        max-width: 1400px;
    }
 
    body {
        font-size: 1.1em;
    }
    header h1 {
        font-size: 3em;
    }
}